* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  text-align: center;
}

#header {
  background-color: #B0A89E;  /*tan*/
	padding: 10px;
}


/*logo in header*/
#header img {
	max-width: 100px;
	height: auto;
}



#header h1 {
	font-weight: bolder;
}




nav {
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}








.home {

  background-color: #F0ECEA;  /*off-white*/
	padding: 20px;
}

.home h1 {
	font-size: xx-large;
}

.home img {
	max-width: 15%;
	height: auto;
}

.home video {
	max-width: 50%;
	height: auto;
}



.modules {
	background-color: #F0ECEA;  /*off-white*/     /* yellow !important; */
	padding: 20px;
}

.modules h1 {
	font-size: xx-large;
}



.grid_container {
	display: grid;
	grid-template: auto auto auto / 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.module_box {
	display: flex;
	width: 200px;
	height: 200px;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 5px solid black !important;
	margin: auto;
	background-color: white;
}

.module_box p {
	font-weight: bold;
}



.footer {
	/* background-color: #AD896E; light brown*/
  background-color: #B0A89E;  /*tan*/
  width: 100%
  padding: 800px;
}



.bodystyle {
  padding: 50px;
  padding-top: 20px;
  margin: 50px;
  margin-top: 20px;
	/* border: 5px solid black; */
}






@media only screen and (max-width: 600px) {
	.home img {
		width: 50px;
		height: auto;
	}
  .grid_container {
    grid_template: auto / 1fr;
  }
}
